In [3]:
import pandas as pd

In [29]:
df = pd.read_csv('survey_results_public.csv', index_col='Respondent')

In [5]:
df['ConvertedComp'].median()

57287.0

In [6]:
df.median()

Respondent       44442.0
CompTotal        62000.0
ConvertedComp    57287.0
WorkWeekHrs         40.0
CodeRevHrs           4.0
Age                 29.0
dtype: float64

In [30]:
df.describe()

          CompTotal  ConvertedComp   WorkWeekHrs    CodeRevHrs           Age
count  5.594500e+04   5.582300e+04  64503.000000  49790.000000  79210.000000
mean   5.519014e+11   1.271107e+05     42.127197      5.084308     30.336699
std    7.331926e+13   2.841523e+05     37.287610      5.513931      9.178390
min    0.000000e+00   0.000000e+00      1.000000      0.000000      1.000000
25%    2.000000e+04   2.577750e+04     40.000000      2.000000     24.000000
50%    6.200000e+04   5.728700e+04     40.000000      4.000000     29.000000
75%    1.200000e+05   1.000000e+05     44.750000      6.000000     35.000000
max    1.000000e+16   2.000000e+06   4850.000000     99.000000     99.000000

In [25]:
df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [26]:
df['ConvertedComp'].count()

55823

In [28]:
df['ConvertedComp'].isna().sum()

33060

In [39]:
df['SocialMedia'].value_counts(normalize = True)*(100)

Reddit                      17.023343
YouTube                     16.379076
WhatsApp                    15.807051
Facebook                    15.606902
Twitter                     13.498822
Instagram                    7.414996
I don't use social media     6.577685
LinkedIn                     5.330602
WeChat 微信                    0.789938
Snapchat                     0.743750
VK ВКонта́кте                0.714142
Weibo 新浪微博                   0.066322
Youku Tudou 优酷               0.024871
Hello                        0.022502
Name: SocialMedia, dtype: float64

In [41]:
# Group by
country_grp = df.groupby('Country')

In [46]:
country_grp.get_group('Canada')

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
6,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult
12,I am a student who is learning to code,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Canada,"Yes, full-time",Some college/university study without earning ...,Mathematics or statistics,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Courses on technologies you're interested in,21.0,Woman,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
21,I code primarily as a hobby,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",NaN,Canada,NaN,NaN,NaN,"Taught yourself a new language, framework, or ...",...,Not applicable - I did not use Stack Overflow ...,NaN,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
31,I am a student who is learning to code,No,Never,NaN,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,NaN,...,NaN,NaN,NaN,Woman,No,NaN,East Asian,No,Too long,Neither easy nor difficult
37,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of LOWER quality than prop...",Employed part-time,Canada,"Yes, full-time",Associate degree,"A social science (ex. anthropology, psychology...",Taken a part-time in-person course in programm...,...,Just as welcome now as I felt last year,NaN,27.0,Man,No,NaN,White or of European descent,No,Appropriate in length,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69741,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area,16.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
75496,NaN,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,South Asian,NaN,Too long,Easy
82007,NaN,No,Less than once per year,The quality of OSS and closed source software ...,NaN,Canada,NaN,Primary/elementary school,NaN,NaN,...,Somewhat less welcome now than last year,Courses on technologies you're interested in,40.0,Woman,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
85182,NaN,No,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,NaN,Canada,NaN,NaN,NaN,NaN,...,A lot less welcome now than last year,NaN,NaN,Woman,No,Straight / Heterosexual,NaN,No,Too long,Easy
88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy

In [63]:
country_grp['SocialMedia'].value_counts().head(50)

Country              SocialMedia
Afghanistan          Facebook                     15
                     YouTube                       9
                     I don't use social media      6
                     WhatsApp                      4
                     Instagram                     1
                     LinkedIn                      1
                     Twitter                       1
Albania              WhatsApp                     18
                     Facebook                     16
                     Instagram                    13
                     YouTube                      10
                     Twitter                       8
                     LinkedIn                      7
                     Reddit                        6
                     I don't use social media      4
                     Snapchat                      1
                     WeChat 微信                     1
Algeria              YouTube                      42
                     Facebook                     41
                     Twitter                      14
                     LinkedIn                      9
                     I don't use social media      7
                     Instagram                     7
                     Reddit                        2
                     WhatsApp                      2
Andorra              Facebook                      2
                     I don't use social media      2
                     Reddit                        1
                     Snapchat                      1
                     YouTube                       1
Angola               Twitter                       2
                     Facebook                      1
                     YouTube                       1
Antigua and Barbuda  YouTube                       2
                     Facebook                      1
                     Instagram                     1
                     Twitter                       1
                     VK ВКонта́кте                 1
Argentina            WhatsApp                    202
                     Twitter                      80
                     YouTube                      62
                     Instagram                    53
                     Reddit                       50
                     Facebook                     45
                     I don't use social media     22
                     LinkedIn                     16
Armenia              Facebook                     38
                     YouTube                      23
                     LinkedIn                      5
                     Instagram                     3
Name: SocialMedia, dtype: int64

In [66]:
country_grp['ConvertedComp'].median().head(50)

Country
Afghanistan                                6222.0
Albania                                   10818.0
Algeria                                    7878.0
Andorra                                  160931.0
Angola                                     7764.0
Antigua and Barbuda                           NaN
Argentina                                 17760.0
Armenia                                   19692.0
Australia                                 79783.0
Austria                                   51559.0
Azerbaijan                                15858.0
Bahamas                                       NaN
Bahrain                                   15912.0
Bangladesh                                 8764.0
Barbados                                  21000.0
Belarus                                   24000.0
Belgium                                   48120.0
Belize                                        NaN
Benin                                         NaN
Bhutan                                        NaN
Bolivia                                   13020.0
Bosnia and Herzegovina                    18360.0
Botswana                                  38410.0
Brazil                                    18036.0
Brunei Darussalam                          6096.0
Bulgaria                                  28080.0
Burkina Faso                               8388.0
Burundi                                    3606.0
Cambodia                                  10420.0
Cameroon                                   6288.0
Canada                                    68705.0
Cape Verde                                    NaN
Chad                                       6288.0
Chile                                     27528.0
China                                     28464.0
Colombia                                  15528.0
Congo, Republic of the...                 18000.0
Costa Rica                                38400.0
Croatia                                   24108.0
Cuba                                       3666.0
Cyprus                                    38496.0
Czech Republic                            35637.0
Côte d'Ivoire                             12576.0
Democratic People's Republic of Korea     32880.0
Democratic Republic of the Congo         110484.0
Denmark                                   82860.0
Djibouti                                  18876.0
Dominica                                      NaN
Dominican Republic                        16667.0
Ecuador                                   21800.0
Name: ConvertedComp, dtype: float64

In [67]:
country_grp['ConvertedComp'].agg(['median', 'mean'])

                                        median           mean
Country
Afghanistan                             6222.0  101953.333333
Albania                                10818.0   21833.700000
Algeria                                 7878.0   34924.047619
Andorra                               160931.0  160931.000000
Angola                                  7764.0    7764.000000
...                                        ...            ...
Venezuela, Bolivarian Republic of...    6384.0   14581.627907
Viet Nam                               11892.0   17233.436782
Yemen                                  11940.0   16909.166667
Zambia                                  5040.0   10075.375000
Zimbabwe                               19200.0   34046.666667

[179 rows x 2 columns]

In [106]:
df['LanguageWorkedWith'].str.contains('Python').sum()

36443

In [147]:
def func1(ser):
    return (ser.str.contains('Python').sum())
users_python = country_grp['LanguageWorkedWith'].apply(func1)

In [148]:
total_users = df.groupby('Country')['Country'].count()

In [151]:
per_py_users = (country_grp['LanguageWorkedWith'].apply(func1)/total_users)*100

In [162]:
per_py_users['United States']

48.13117571244451

In [ ]:
# Another method to do the same

In [166]:
tot_users = df['Country'].value_counts()

In [173]:
new_data = pd.concat([tot_users, users_python], axis = 1)

In [189]:
 new_data.head(50)

                    Total Users  Python Users  Perc Pyth Users
United States             20949         10083        48.131176
India                      9061          3105        34.267741
Germany                    5866          2451        41.783157
United Kingdom             5737          2384        41.554820
Canada                     3395          1558        45.891016
France                     2391          1054        44.081974
Brazil                     1948           767        39.373717
Poland                     1922           751        39.073881
Australia                  1903           790        41.513400
Netherlands                1852           767        41.414687
Russian Federation         1694           708        41.794569
Spain                      1604           641        39.962594
Italy                      1576           625        39.657360
Sweden                     1274           496        38.932496
Switzerland                 978           460        47.034765
Israel                      952           457        48.004202
Turkey                      949           371        39.093783
Pakistan                    923           251        27.193933
Ukraine                     868           246        28.341014
Austria                     839           338        40.286055
Czech Republic              764           285        37.303665
Romania                     760           253        33.289474
Iran                        738           268        36.314363
Belgium                     727           296        40.715268
China                       664           297        44.728916
Bulgaria                    659           181        27.465857
Mexico                      642           245        38.161994
South Africa                627           202        32.216906
Denmark                     617           246        39.870340
Bangladesh                  605           204        33.719008
Norway                      574           232        40.418118
Greece                      556           226        40.647482
Argentina                   553           191        34.538879
Finland                     546           266        48.717949
Portugal                    525           182        34.666667
New Zealand                 524           236        45.038168
Nigeria                     522           152        29.118774
Hungary                     513           191        37.231969
Indonesia                   507           148        29.191321
Ireland                     501           209        41.716567
Serbia                      402           117        29.104478
Japan                       391           182        46.547315
Philippines                 381           117        30.708661
Sri Lanka                   372           137        36.827957
Egypt                       323           111        34.365325
Colombia                    313           108        34.504792
Singapore                   303           139        45.874587
Malaysia                    299            95        31.772575
Slovenia                    298           119        39.932886
Slovakia                    260           101        38.846154

In [183]:
 new_data['perc'] = new_data['LanguageWorkedWith']/new_data['Country']*100

In [187]:
new_data.rename(columns={"Country":"Total Users", "LanguageWorkedWith":"Python Users", "perc":"Perc Pyth Users"}, inplace = True)

In [195]:
new_data.sort_values(by="Perc Pyth Users", ascending = False, inplace = True)

In [201]:
new_data.loc['Japan']

Total Users        391.000000
Python Users       182.000000
Perc Pyth Users     46.547315
Name: Japan, dtype: float64